.box {
    font-size: 32px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right:50px;
    padding-left:50px;
    
}
#roblox {
  background-color:red;
    border: 100px;
    border-style: dotted;
    border-color: purple;
    height: 400px;
    width: 400px;
}
#doors {
  background-color:blue;
   border: 10px dotted blue;
    width: 400px;
    height: 400px;
    
} 
#piggy {
    background-color:yellow;
}
#bedwars {
  background-color:green;
}
      
